body, html {
  margin: 0;
  height: 100%;
}
#root, .app-root{
  height: 100%;
}

.body-with-side-menu {
  .side-menu-container {
    width: 230px;
  }
  .body-container {
    padding: 25px 40px;
    background-color: #F6F9FE;
    flex: 1;
  }
}
.ant-message-custom-content {
  display: flex;
  align-items: center;
}

.scroll-y {
  overflow-y: auto;
  &::-webkit-scrollbar-thumb {
    background-color: $wild-blue;
    border-radius: 5px;
  }
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}
.scroll-x {
  overflow-x: auto;
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  &::-webkit-scrollbar {
    height: 5px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  z-index: 3;
}
